.image {
    width: 50px;
    margin: 0 auto;
    img {
        width: 50px;
    }

    &__sub {
        position: relative;
        cursor: pointer;
        &::after {
            content: '+';
            color: white;
            position: absolute;
            bottom: 0;
            right: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 1em;
            margin: 5px;
        }
    }
    &--active {
        &::after {
            content: '-';
        }
    }
}