.image {
    width: 72px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    &::after {
        content: '+';
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 1em;
        margin: 5px;
    }
    &--active {
        &::after {
            content: '-';
        }
    }
}
hr {
    border-color: lightgreen;
    margin: 0;
}
.element {
    position: relative;
    border-bottom: 1px solid #007bff;
    &__header {
        position: sticky;
        top: 81px;
        background-color: white;
        z-index: 150;
    }
}