<div class="element ">

  <div class="element__header">
<div class="row align-items-center py-3">
  <!-- image -->
  <div class="col text-center" (click)="getRecipe(element)" >
    <div [ngClass]="{'image--active':showRecipe==true}" class="image"><img class="image" src="https://crossoutdb.com/img/items/{{ element.image }}"
      alt="{{ element.name }}" title="{{ element.name }}"></div>
    </div>
  <!-- price -->
  <div class="col sell-buy-col text-center">
    <div class="sell-buy-col__sell">Sell: {{ element.formatSellPrice | number:'1.0-2'}}</div>
    <div class="sell-buy-col__buy">Buy: {{ element.formatBuyPrice | number:'1.0-2'}}</div>
  </div>
  <!-- firstBuild -->
  <div class="col text-center">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="firstBuild{{ element.id}}" (click)="changeFastBuild($event)">
      <label class="custom-control-label" for="firstBuild{{ element.id}}">{{ element.firstBuild }}</label>
    </div>
  </div>
  <!-- resultPrice -->
  <div class="col text-center">{{ element.resultPrice | number:'1.0-2' }}</div>
  <!-- income -->
  <div class="col text-center">{{ element.income | number:'1.0-2' }}</div>
  <div class="col text-center">{{ element.resultConstructionTime }}</div>
</div>
<hr *ngIf="showRecipe">
</div>

  <app-recipe [element] = "element" *ngIf="showRecipe" (changeResultPriceRecipe)="changeResultPriceRecipe($event)"></app-recipe>
</div>